<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>
    <link rel="stylesheet" href="/style/form.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="/style/font.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
<div class="form-container">
    <h2>Авторизация</h2>
    <form action="/login" method="post">
        <label for="username"></label>
        <input type="text" id="username" name="username" placeholder="Имя пользователя">
        <label for="password"></label>
        <input type="password" id="password" name="password" placeholder="Пароль">
        <input type="submit" id="button" value="Авторизоваться">
    </form>
    <br>
    <a href="/registration">Зарегистрироваться</a>
</div>
</body>
</html>